@(tool: Tool, curUser:User)

@user.main("Tool Page"){

	    <!-- Page Content -->
    <div class="container">

        <div class="row">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                    	@if(tool.available && tool.owner.getUserName() != curUser.getUserName()){
                    	<a class="btn btn-primary pull-right" href="/tool/borrow/@tool.id">Borrow</a>
                    	}
                        @if((!tool.available) && tool.owner.getUserName() != curUser.getUserName()){
                    	<h4 class="pull-right">Not Available</h4>
                    	}
                        <h4><a href="#">@tool.name</a>
                        <p>@tool.description</p>
                        <a class="btn btn-primary pull-right" href="#">Message</a>
                        <p>Owner: @tool.owner.getUserName()</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>
                <form action="@routes.Comments.create(tool.id)" method="post">
	                <div class="well">
	                	@* Display flash messages *@
		                @if(flash.containsKey("error")) {
		                    <div style="color:red">
		                        <p>Error Flash Message:</p>
		                        @flash.get("error")
		                    </div>
		                }
	                	<textarea type="text" id="body" name="body" placeholder="Comment" class="form-control" rows="2"></textarea><br>
	                	<button type="submit" class="btn btn-primary">Add Comment</button>
	                </div>
                </form>
        </div>

    </div>
    <!-- /.container -->
}