@(tools: List[Tool], categories: List[ToolCategory])

@user.main("My Tools") {

	 <!-- Page Content -->
    <div class="container">

        <div class="row">
            @tool.sideNavi(categories)

            @if(tools.isEmpty()){
                <h2 class="white">No tools posted</h2>
             } else {
                <h2 class="white">My Tools</h2>
                <div class="col-md-9">
                <div class="row">
                    @for(tool <- tools) {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4><a href="/tool/@tool.id">@tool.name</a>
                                </h4>
                                @if(tool.available){
                                    <a class="btn btn-normal" href="/tool/borrow/@tool.id">Stop Lending</a>
                                } else {
                                    <a class="btn btn-normal" href="/tool/lend/@tool.id">Start Lending</a>
                                }
                            </div>
                            <div class="ratings">
                                <p class="pull-left">@tool.toolcategory.name</p>
                                <p class="pull-right">@tool.commentList.size() comments</p>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    }
            }
            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Want to add more tools?</a></h4>
                <p class="white">Click on the button below to add your own tool for others to borrow!</p>
                <a class="btn btn-normal" target="_blank" href="@routes.Tools.createForm()">Add Tool</a>
            </div>
            </div>
            </div>
        </div>
    </div>
}