@* This template does not have parameters *@

@main("Welcome new user") {

    <header id="top" class="header">
        <div class="text-center">
            <h1>Welcome new user</h1>
            <br>

                <p>
                   Start the process for joining the CTS project 
                </p>
                    <form id="application-form" class="container">

                        <p><h3>Applicant Information</h3></p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>First Name:</label>
                                <input id="firstName" class="form-control" type="text" placeholder="First Name" name='firstName'><br>
                            </div>

                            <div class="col-sm-6">
                                <label>Last Name:</label>
                                <input id="lastName" class="form-control" type="text" placeholder="Last Name" name='lastName'><br>
                            </div>

                            <div class="col-sm-6">
                                <label>User Name:</label>
                                <input id="userName" class="form-control" type="text" placeholder="User Name" name='userName'><br>
                            </div>

                            <div class="col-sm-6">
                                <label>PhoneNum:</label>
                                <input id="lastName" class="form-control" type="text" placeholder="Phone Number" name='phoneNum'><br>
                            </div>

                            <div class="col-sm-12">
                                <label>Email Address:</label>
                                <input id="emailAddress" class="form-control" type="text" placeholder="Your Email Address" name='emailAddress'><br>
                            </div>

                            <div class="col-sm-12">
                                <label>Address:</label>
                                <input id="address" class="form-control" type="text" placeholder="Your Address" name='address'><br>
                            </div>
                        </div>
                
                    </form>

        </div>
    </header>
}