@(tools: List[Tool])

@user.main("Home") {
    
    @header()

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            @sideNavi()

            @if(tools.isEmpty()){
                <h2 class="white">No tools posted</h2>
             } else {
                <h2 class="white">Tool List</h2>
                <div class="col-md-9">
                <div class="row">
                    @for(tool <- tools) {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">@tool.id</h4>
                                <h4><a href="/tool/@tool.id">@tool.name</a>
                                </h4>
                                <p>@tool.description</p>
                                <p>Owner: @tool.owner.getUserName()</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">x reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    }
            }
            <div class="col-sm-4 col-lg-4 col-md-4">
                <h4><a href="#">Want to add your own tools?</a></h4>
                <p class="white">Click on the button below to add your own tool for others to borrow!</p>
                <a class="btn btn-primary" target="_blank" href="@routes.Tools.createForm()">Add Tool</a>
            </div>
            </div>
            </div>
        </div>
    </div>

}
