@(loginUser:User)

@user.main("About Page"){
<div class="container">
    <h1 class="white">Need a Tool?<br>Use Lendr</h1>
    <hr>
    <h2 class="white">Who are we?</h2>
    <h3 class="white">A community tool sharing application
        <br>built to connect you to people willing to lend a tool or two.
        <br>
        <br>Whether its a hammer to hang that new picture in your apartment,
        <br>a snow blower for that rough snow day,
        <br>or a guitar to jam with a few hours in the park
        <br>
        <br>We're here to make it happen.
    </h3>

       <!-- Services Section -->
    <section id="services">
        <div class="container white">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading white">How it works</h2>
                </div>
            </div>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading white">Sign up</h4>
                    <p class="text-muted white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading white">Responsive Design</h4>
                    <p class="text-muted white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading white">Web Security</h4>
                    <p class="text-muted white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
</div>
}