@(message: String)

@main("Tonari") {

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome To Tonari!</div>
                <div class="intro-lead-in">It's Nice To Meet You</div>
                <a href="@routes.UserActivity.loginForm()" class="btn btn-xl" id="login">Log In</a>
                <div class="divider"></div>
                <a href="@routes.UserActivity.createForm()" class="btn btn-xl" id="signup">Sign Up</a>
            </div>
        </div>
    </header> 
    <!--/Header-->

}
