@(message: String)

@main("CTS") {

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Tonari!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="" class="btn btn-xl" id="login">Log In</a>
                <div class="divider"></div>
                <a href="@routes.UserAuth.form()" class="btn btn-xl" id="signup">Sign Up</a>
            </div>
        </div>
    </header> 
    <!--/Header-->

}
